# Google Cloud Project ID
GOOGLE_CLOUD_PROJECT_ID=aidriven-mastering-fyqu

# Google Cloud Location (default: us)
GOOGLE_CLOUD_LOCATION=asia-southeast1

# Document AI Processor ID
DOCUMENT_AI_PROCESSOR_ID=3b937c607d71ab20

# Google Application Credentials (JSON string)
# Optional: If not set, the system will use the environment's default credentials
GOOGLE_APPLICATION_CREDENTIALS=

# Gemini API Key
GEMINI_API_KEY=
