# Document AI
DOCUMENT_AI_PROCESSOR_ID=8294184ec60f19aa
GOOGLE_CLOUD_PROJECT_ID=aidriven-mastering-fyqu
GOOGLE_CLOUD_LOCATION=us
GOOGLE_APPLICATION_CREDENTIALS='{"type": "service_account", ...}'

# Gemini
GEMINI_API_KEY=
